XILINXD_LICENSE_FILE=2100@xilinx.ca.riedel.net
SALT_LICENSE_SERVER=1717@modelsim.ca.riedel.net

RIEDEL_ARTIFACTORY_ACCESS_TOKEN={{ onepasswordRead "op://Riedel/Artifactory Access Token/credential" }}

JIRA_API_TOKEN={{ onepasswordRead "op://Riedel/JIRA API Token/credential" }}
